@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet');

:root{
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

body {
  margin: 0;
  font-family: "Noto Serif";
  color: var(--secondary)
}

.App{
  max-width: 960px;
  margin: 0 auto;
}

.title h1{
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing:2px;
  font-weight: normal;
}


.title h2, .title p{
  text-align: center;
}


.title h2{
  margin-top: 60px;
  font-size:2.6rem;
}

form{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 60px;
}

form label{
  width: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 60px;
}

form input[type="file"]{
  display:none;
}

form span{
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid var(--primary);
  padding: 15px 20px;
  color: var(--primary);
  font-size: 1.5rem;
}

form span:hover{
  background: var(--primary);
  color: white;
}

.progress-bar{
  height: 5px;
  background: var(--primary);
  margin-top: 40px;
}